button {
  background-color: #d42fae82;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #b06da182;
}

button:active {
  background-color: #b06da182;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}
