.socials__social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}
.socials__icon {
  color: palevioletred;
}
.socials__social-button {
  background-color: palevioletred; /* pink color code */
  color: white; /* text color */
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
}
