.card1 {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
  height: 500px;
  width: 150px;
  /* transition: "height 0.8s ease-out";
  cursor: "pointer"; */
}

.card__image1 {
  height: 500px;
  width: 100%;
}

.cardHovered {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin: 20px;
  overflow: hidden;
  height: 500px;
  width: 420px;
  transition: "0.8s ease-out";
  cursor: "pointer";
}
